@import "./jf-flat.css";

body {
  font-family: "JF Flat Regular", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.custom-navbar {
  background-color: white;
  border: none;
  border-bottom: 3px solid #EEF0EA;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 0;
}

.custom-form-control, .custom-btn {
  color: #868686;
  border: 1px solid #EBEBEB;
  box-shadow: none;
  border-radius: 2px;
  transition-property: border-color, background-color;
  transition-duration: 0.3s;
}

.custom-btn:focus,
.custom-btn:active,
.custom-btn:active:focus {
  outline: none;
}

.custom-form-control:focus {
  border-color: #C2101E;
  box-shadow: 0 0 2px 0 #C2101E;
}

.custom-navbar .custom-btn-primary {
  background-color: #FF3956;
  border-color: #FF3956;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: bold
}

.custom-navbar .custom-btn-primary:hover,
.custom-navbar .custom-btn-primary:focus,
.custom-navbar .custom-btn-primary:active,
.custom-navbar .custom-btn-primary:active:hover,
.custom-navbar .custom-btn-primary:active:focus {
  background-color: #C2101E;
  border-color: #C2101E;
  color: white;  
}

.custom-dropdown-menu {
  box-shadow: 0 2px 5px 0 #EBEBEB;
  border-radius: 2px;
}

.custom-dropdown-menu .checkbox {
  margin: 0 5px;
}

.custom-dropdown-menu > li > a {
  transition-property: background-color;
  transition-duration: 0.2s;
}

.custom-dropdown-menu > li > a:hover,
.custom-dropdown-menu > li > a:focus {
  background-color: #FFE7EA;
}

.custom-navbar .navbar-nav .active > a {
  background-color: transparent;
  color: #FF3956;
  font-weight: bold;
  border-bottom: 1px solid #FF3956;
}

#btn-shopping-cart {
  padding: 5px 10px;
  margin-left: 10px;
  margin-right: 15px;
}

#carousel-featured {
  background-color: #F7F8F3;
  height: 400px;
  padding-top: 25px;
}

#carousel-featured .item img {
  height: 375px;
}

#carousel-featured .product-details {
  border: 1px solid #DDDDDB;
  padding: 20px;
  position: relative;
  top: 50px;
  height: 200px;
}

.sale {
  background-color: #53CCD7;
  color: white;
  font-weight: bold;
  padding: 5px 10px;
  position: absolute;
  left: 25px;
  top: 16px;
  direction: ltr;
  z-index: 1;
}

.sale::before {
  content: '-';
}

.sale.large {
  height: 60px;
  width: 60px;
  padding: 35px;
  font-size: 130%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotate(-25deg);
  flex-direction: column;
  line-height: 90%;
  left: -15px;
  top: -15px;
}

.sale.large::after {
  content: 'خصم';
  font-size: 75%;
}

.sale.large::before {
  content: none;
}

#carousel-featured .product-details .product-category {
  border: 1px solid #DDDDDB;
  padding: 10px;
  position: absolute;
  top: -10px;
  right: -10px;
  background-color: #F7F8F3;
}

#carousel-featured .product-details h1 {
  font-weight: bold;
  font-size: 175%;
}

.custom-btn-primary {
  background-color: transparent;
  color: #F8AD47;
  border-color: #F8AD47;
}

.custom-btn-primary:hover,
.custom-btn-primary:focus,
.custom-btn-primary:active,
.custom-btn-primary:active:hover,
.custom-btn-primary:active:focus {
  color: #AB7731;
  border-color: #AB7731;
  background-color: transparent;
}

#carousel-featured .product-details .custom-btn-primary {
  padding: 10px 25px;
  margin-top: 15px;
}

.custom-carousel-indicators-primary img {
  border: 2px solid #DDDDDB;
  background-color: white;
}

.custom-carousel-indicators-primary img.active {
  border-color: #F8AD47;
}

.custom-carousel-indicators-primary img,
.custom-carousel-indicators-primary img.active {
  height: 75px;
  width: 75px;
}

#carousel-featured .custom-carousel-indicators-primary {
  top: 235px;
  right: 68%;
}

.custom-carousel-control.right,
.custom-carousel-control.left {
  background: transparent;
  color: #868686;
  text-shadow: none;
}

.custom-carousel-control > i {
  position: absolute;
  top: calc(50% - 20px);
}

.custom-carousel-control.left > i {
  right: 25%;
}

.custom-carousel-control.right > i {
  left: 25%;
}

#store-features {
  box-shadow: 0 0 15px #EEF0EA;
  padding-bottom: 35px;
  padding-top: 5px;
  position: relative;
  top: -30px;
  background-color: white;
  background-image: url("../images/bg_features.png");
  background-repeat: no-repeat;
  background-size: auto 60%;
  background-position: -10px -20px;
}

#store-features > .feature + .feature {
  border-right: 1px solid #EEF0EA;
}

#store-features .feature > img {
  height: 40px;
  margin-bottom: 10px;
}

.custom-thumbnail {
  border: 2px solid #EEF0EA;
  padding: 8px;
  cursor: pointer;
  margin-right: -8px;
  margin-left: -8px;
}

.custom-thumbnail:hover {
  border-color: #53CCD7;
}

.custom-thumbnail img {
  height: 250px;
}

.price {
  color: #53CCD7;
  margin: 10px 0;
}

.rating {
  color: #C2C2C2;
}

.rating .active {
  color: #F8AD47;
}

.overlay {
  position: absolute;
  background-color: rgba(83, 204, 215, 0.5);
  height: 250px;
  width: calc(100% - 36px);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition-property: opacity;
  transition-duration: 0.3s;
}

.overlay:hover {
  opacity: 1;
}

.overlay .custom-btn {
  color: #53CCD7;
  font-weight: bold;
}

.custom-carousel-indicators {
  position: static;
  width: 100%;
  text-align: center;
  margin: 0;
}

.custom-carousel-indicators > li {
  background-color: #C2C2C2;
  border-radius: 0;
}

.custom-carousel-indicators > li.active {
  background-color: #565656;;
}

.custom-carousel-indicators > li,
.custom-carousel-indicators > li.active {
  height: 13px;
  width: 13px;
  margin: 2px;
}

.custom-heading {
  margin-bottom: 25px;
}

.custom-panel {
  border: 4px solid #EEF0EA;
  border-radius: 2px;
  box-shadow: none;
  padding: 5px;
}

.custom-panel .product-image {
  width: 100%;
  margin-bottom: 8px;
}

.custom-panel h4, .custom-panel .price {
  font-size: 130%;
  margin-top: 0;
  margin-bottom: 15px;
}

.custom-text-muted {
  color: #A9A9A9;
}

.custom-panel .product-details {
  display: flex;
  flex-direction: column;
}

.brand-nav {
  margin-top: 10px;
}

.brand-nav .brand-text {
  margin-left: 3px;
  display: inline-block;
}

.brand-nav .pull-left {
  height: 31px;
  display: flex;
  align-items: center;
}

.custom-panel .carousel {
  margin-right: -15px;
  margin-left: -15px;
}

#row-brands h3 {
  border-top: 1px solid #EEF0EA;
  margin-right: 15px;
  margin-left: 15px;
  padding-top: 25px;
}

#brand-logos {
  background-color: #DCEEFA;
  padding-top: 25px;
  padding: 25px 0;
}

#brand-logos img {
  margin-left: 25px;
  margin-right: 25px;
  max-height: 100px;
  max-width: 100px;
}

#footer-nav {
  background-color: #1F1F1F;
  padding-top: 35px;
  padding-bottom: 25px;
}

#footer-nav-links a {
  color: #575757;
  font-weight: bold;
  margin-left: 30px;
}

#footer-nav > .container > div {
  margin-top: 15px;
  margin-bottom: 15px;
}