@import "./jf-flat.css";

body {
  font-family: "JF Flat Regular", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body > .container-fluid {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

body > .container-fluid > .row:not(:first-child):not(:last-child) {
  flex-grow: 1;
}

.custom-navbar {
  background-color: white;
  border: none;
  border-bottom: 3px solid #EEF0EA;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 0;
}

.navbar-form {
  margin-left: 0;
  margin-right: 0px;
}

.custom-form-control, .custom-btn {
  color: #868686;
  border: 1px solid #EBEBEB;
  box-shadow: none;
  border-radius: 2px;
  transition-property: border-color, background-color;
  transition-duration: 0.3s;
}

.custom-btn:focus,
.custom-btn:active,
.custom-btn:active:focus {
  outline: none;
}

.custom-form-control:focus {
  border-color: #AB7731;
  box-shadow: 0 0 2px 0 #AB7731;
}

.custom-navbar .custom-form-control:focus {
  border-color: #C2101E;
  box-shadow: 0 0 2px 0 #C2101E;
}

.custom-navbar .custom-btn-primary {
  background-color: #FF3956;
  border-color: #FF3956;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: bold
}

.custom-navbar .custom-btn-primary:hover,
.custom-navbar .custom-btn-primary:focus,
.custom-navbar .custom-btn-primary:active,
.custom-navbar .custom-btn-primary:active:hover,
.custom-navbar .custom-btn-primary:active:focus {
  background-color: #C2101E;
  border-color: #C2101E;
  color: white;  
}

.custom-dropdown-menu {
  box-shadow: 0 2px 5px 0 #EBEBEB;
  border-radius: 2px;
}

.custom-dropdown-menu .checkbox {
  margin: 0 5px;
}

.custom-dropdown-menu > li > a {
  transition-property: background-color;
  transition-duration: 0.2s;
}

.custom-dropdown-menu > li > a:hover,
.custom-dropdown-menu > li > a:focus {
  background-color: #FFE7EA;
}

.custom-navbar .navbar-nav .active > a {
  background-color: transparent;
  color: #FF3956;
  font-weight: bold;
  border-bottom: 1px solid #FF3956;
}

#btn-shopping-cart {
  padding: 5px 10px;
  margin-left: 10px;
  margin-right: 15px;
}

#carousel-featured {
  background-color: #F7F8F3;
  height: 400px;
  padding-top: 25px;
}

#carousel-featured .item img {
  height: 375px;
}

#carousel-featured .product-details {
  border: 1px solid #DDDDDB;
  padding: 20px;
  position: relative;
  top: 50px;
  height: 200px;
  background-color: #F7F8F3;
}

.sale {
  background-color: #53CCD7;
  color: white;
  font-weight: bold;
  padding: 5px 10px;
  position: absolute;
  left: 25px;
  top: 16px;
  direction: ltr;
  z-index: 1;
}

.sale::before {
  content: '-';
}

.sale.large {
  height: 60px;
  width: 60px;
  padding: 35px;
  font-size: 130%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotate(-25deg);
  flex-direction: column;
  line-height: 90%;
  left: -15px;
  top: -15px;
}

.sale.large::after {
  content: 'خصم';
  font-size: 75%;
}

.sale.large::before {
  content: none;
}

#carousel-featured .product-details .product-category {
  border: 1px solid #DDDDDB;
  padding: 10px;
  position: absolute;
  top: -10px;
  right: -10px;
  background-color: #F7F8F3;
}

#carousel-featured .product-details h1 {
  font-weight: bold;
  font-size: 175%;
}

.custom-btn-primary {
  background-color: transparent;
  color: #F8AD47;
  border-color: #F8AD47;
}

.custom-btn-primary:hover,
.custom-btn-primary:focus,
.custom-btn-primary:active,
.custom-btn-primary:active:hover,
.custom-btn-primary:active:focus {
  color: #AB7731;
  border-color: #AB7731;
  background-color: transparent;
}

.custom-btn-danger {
  color: #FF3956;
  border-color: #FF3956;
  background-color: transparent;
}

.custom-btn-danger:hover,
.custom-btn-danger:focus,
.custom-btn-danger:active,
.custom-btn-danger:active:hover,
.custom-btn-danger:active:focus {
  color: #C2101E;
  border-color: #C2101E;
  background-color: transparent;
}

.custom-btn-primary2 {
  color: white;
  background-color: #F8AD47;
  border-color: #F8AD47;
}

.custom-btn-primary2:hover,
.custom-btn-primary2:focus,
.custom-btn-primary2:active,
.custom-btn-primary2:active:hover,
.custom-btn-primary2:active:focus,
.custom-btn-primary2:hover:disabled {
  border-color: #AB7731;
  background-color: #AB7731;
}

#carousel-featured .product-details .custom-btn-primary {
  padding: 10px 25px;
  margin-top: 15px;
}

.custom-carousel-indicators-primary img {
  border: 2px solid #DDDDDB;
  background-color: white;
}

.custom-carousel-indicators-primary img.active {
  border-color: #F8AD47;
}

.custom-carousel-indicators-primary img,
.custom-carousel-indicators-primary img.active {
  height: 75px;
  width: 75px;
}

#carousel-featured .custom-carousel-indicators-primary {
  top: 235px;
  right: 68%;
}

.custom-carousel-control.right,
.custom-carousel-control.left {
  background: transparent;
  color: #868686;
  text-shadow: none;
}

.custom-carousel-control > i {
  position: absolute;
  top: calc(50% - 20px);
}

.custom-carousel-control.left > i {
  right: 25%;
}

.custom-carousel-control.right > i {
  left: 25%;
}

#store-features {
  box-shadow: 0 0 15px #EEF0EA;
  padding-bottom: 35px;
  padding-top: 5px;
  position: relative;
  top: -30px;
  background-color: white;
  background-image: url("../images/bg_features.png");
  background-repeat: no-repeat;
  background-size: auto 60%;
  background-position: -10px -20px;
}

#store-features > .feature + .feature {
  border-right: 1px solid #EEF0EA;
}

#store-features .feature > img {
  height: 40px;
  margin-bottom: 10px;
}

.custom-thumbnail {
  border: 2px solid #EEF0EA;
  padding: 8px;
  cursor: pointer;
  margin-right: -8px;
  margin-left: -8px;
}

.custom-thumbnail:hover {
  border-color: #53CCD7;
}

.custom-thumbnail img {
  height: 250px;
}

.price {
  color: #53CCD7;
  margin: 10px 0;
}

.price.large {
  font-size: 30px;
  margin-top: 20px;
}

.rating {
  color: #C2C2C2;
}

.rating .active {
  color: #F8AD47;
}

.overlay {
  position: absolute;
  background-color: rgba(83, 204, 215, 0.5);
  height: 250px;
  width: calc(100% - 36px);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition-property: opacity;
  transition-duration: 0.3s;
}

.overlay:hover {
  opacity: 1;
}

.overlay .custom-btn {
  color: #53CCD7;
  font-weight: bold;
}

.custom-carousel-indicators {
  position: static;
  width: 100%;
  text-align: center;
  margin: 0;
}

.custom-carousel-indicators > li {
  background-color: #C2C2C2;
  border-radius: 0;
}

.custom-carousel-indicators > li.active {
  background-color: #565656;;
}

.custom-carousel-indicators > li,
.custom-carousel-indicators > li.active {
  height: 13px;
  width: 13px;
  margin: 2px;
}

.custom-heading {
  margin-bottom: 25px;
}

.custom-panel {
  border: 4px solid #EEF0EA;
  border-radius: 2px;
  box-shadow: none;
  padding: 5px;
}

.custom-panel .product-image {
  width: 100%;
  margin-bottom: 8px;
}

.custom-panel h4, .custom-panel .price {
  font-size: 130%;
  margin-top: 0;
  margin-bottom: 15px;
}

.custom-text-muted {
  color: #A9A9A9;
}

.custom-panel .product-details {
  display: flex;
  flex-direction: column;
}

.brand-nav {
  margin-top: 10px;
}

.brand-nav .brand-text {
  margin-left: 3px;
  display: inline-block;
}

.brand-nav .pull-left {
  height: 31px;
  display: flex;
  align-items: center;
}

.custom-panel .carousel {
  margin-right: -15px;
  margin-left: -15px;
}

#row-brands h3 {
  border-top: 1px solid #EEF0EA;
  margin-right: 15px;
  margin-left: 15px;
  padding-top: 25px;
}

#brand-logos {
  background-color: #DCEEFA;
  padding-top: 25px;
  padding: 25px 0;
}

#brand-logos img {
  margin-left: 25px;
  margin-right: 25px;
  max-height: 100px;
  max-width: 100px;
}

#footer-nav {
  background-color: #1F1F1F;
  padding-top: 35px;
  padding-bottom: 25px;
  color: #575757;
  background-image: url("../images/bg_footer_1.png"), url("../images/bg_footer_2.png");
  background-repeat: no-repeat, no-repeat;
  background-position: 110% 0%, -10% -150%;
}

#footer-nav-links a {
  color: inherit;
  font-weight: bold;
  margin-left: 30px;
}

#footer-nav-links a,
#footer-copyright-social a {
  transition-property: color;
  transition-duration: 0.3s;
}

#footer-nav-links a:hover,
#footer-copyright-social a:hover {
  text-decoration: none;
  color: #A9A9A9;
}

#footer-nav > .container > div {
  margin-top: 15px;
  margin-bottom: 15px;
}

#footer-nav form {
  border-top: 1px solid #292929;
  padding-top: 25px;
}

#footer-nav button {
  color: inherit;
}

#footer-nav form input {
  background-color: #303030;
  border: none;
  opacity: 0.6;
}

#footer-nav form label {
  margin-bottom: 15px;
}

#footer-copyright-social {
  background-color: #151515;
  color: #303030;
  padding-top: 30px;
  padding-bottom: 30px;
  font-weight: bold;
}

#footer-copyright-social a {
  color: #303030;
  margin-left: 5px;
  margin-right: 5px;
}

.custom-breadcrumb {
  background-color: transparent;
  padding-top: 25px;
  padding-bottom: 25px;
}

.custom-breadcrumb a {
  color: inherit;
  text-decoration: none;
  transition-property: color;
  transition-duration: 0.3s;
}

.custom-breadcrumb a:hover {
  color: #F8AD47;
}

.custom-breadcrumb .active {
  color: #C2C2C2;
}

.custom-breadcrumb > li + li:before {
  content: '>';
  color: #565656;
}

.select-inline {
  display: inline-block;
  width: auto;
}

.custom-label {
  font-weight: normal;
}

.btn-primary.custom-btn-with-icon {
  min-width: 250px;
  padding-bottom: 15px;
  padding-top: 15px;
}

.borders-between > .row + .row {
  border-top: 1px solid #EBEBEB;
  padding-top: 15px;
  padding-bottom: 15px;
}

.heading-with-border-bottom {
  display: inline-block;
  border-bottom: 2px solid #EBEBEB;
  padding-bottom: 15px;
  min-width: 250px;
}

.custom-media {
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 15px;
}

.custom-media .media-object {
  width: 80px;
  height: 80px;
  border: 1px solid #EBEBEB;
}

.custom-table th {
  color: #C2C2C2;
  font-weight: normal;
}

.custom-table th, .custom-table td {
  padding: 15px;
  font-size: 120%;
  vertical-align: middle;
  border-bottom: 1px solid #EBEBEB;
  border-top: 1px solid #EBEBEB;
}

.custom-table th:not(:first-child), .custom-table td:not(:first-child) {
  text-align: center;
}

.custom-table th:first-child, .custom-table td:first-child {
  width: 50%;
}

/*صفحة المنتج*/
#carousel-product-images .item img {
  border: 1px solid #EBEBEB;
  width: 100%;
}

#carousel-product-images .carousel-indicators {
  position: relative;
  top: -35px;
}

#form-product-selection h2 {
  font-weight: bold;
}

.product-option input {
  display: none;
}

.product-option {
  display: inline-block;
  height: 23px;
  width: 23px;
  border: 1px solid #EBEBEB;
  text-align: center;
  line-height: 23px;
  color: #C2C2C2;
  margin: 3px;
}

.product-option label {
  display: inline-block;
  height: 100%;
  width: 100%;
}

.product-option.active {
  color: #F8AD47;
  border-color: #F8AD47;
}

 .color-option.active {
   border-color: white;
   outline: 1px solid black;
 }

/* نهاية صفحة المُنتج */

/* صفحة الشراء */
#form-checkout button[type="submit"] {
  margin-top: 15px;
  margin-bottom: 15px;
}
/* نهاية صفحة الشراء */

/* الشاشات الصغيرة جدًا فقط */
@media (max-width: 767px) {
  #carousel-featured, #carousel-featured .product-details {
    height: auto;
  }

  #carousel-featured {
    padding-bottom: 25px;
  }

  #carousel-featured .item img {
    height: 250px;
  }

  #carousel-featured .product-details {
    position: static;
    text-align: center;
  }

  .custom-thumbnail {
    margin-right: 0;
    margin-left: 0;
  }

  #brand-logos .img-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #brand-logos img {
    max-height: 50px;
    max-width: 50px;
    margin-top: 5px;
    margin-bottom: 5px;
  }
}

/* الشاشات الصغيرة فقط، وليست الصّغيرة جدًّا */
@media (min-width: 768px) and (max-width: 991px) {
  #carousel-featured .custom-carousel-indicators-primary {
    right: 65%;
  }

  .custom-thumbnail img {
    height: 200px;
  }
}


/* الشاشات الصّغيرة والصّغيرة جدًّا */
@media (max-width: 991px) {
  .overlay {
    display: none;
  }

  #footer-nav {
    background-image: url("../images/bg_footer_1.png");
  }

  #copyright, #social-icons {
    width: 100%;
    text-align: center;
  }

  #social-icons {
    font-size: 150%;
    margin-top: 10px;
  }

  #carousel-product-images {
    margin-bottom: 15px;
  }

  #carousel-product-images .item img {
    width: 80%;
    position: relative;
    right: 10%;
  }

  .product-option {
    width: 50px;
    height: 50px;
    margin: 10px 10px;
    line-height: 50px;
    font-size: 20px;
  }
}