.custom-navbar {
  background-color: white;
  border: none;
  border-bottom: 3px solid #EEF0EA;
  padding-top: 15px;
  padding-bottom: 15px;
}

.custom-form-control, .custom-btn {
  color: #868686;
  border: 1px solid #EBEBEB;
  box-shadow: none;
  border-radius: 2px;
}

.custom-form-control:focus {
  border-color: #C2101E;
  box-shadow: 0 0 2px 0 #C2101E;
}

.custom-btn-primary {
  background-color: #FF3956;
  border-color: #FF3956;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: bold
}