.custom-table {
  th {
    color: #C2C2C2;
    font-weight: normal;
  }

  th, td {
    padding: 15px;
    font-size: 120%;
    vertical-align: middle;
    border-bottom: 1px solid #EBEBEB;
    border-top: 1px solid #EBEBEB;
  }

  th:not(:first-child), td:not(:first-child) {
    text-align: center;
  }

  th:first-child, td:first-child {
    width: 50%;
  }

  tfoot {
    td {
      border-bottom: none;
      font-size: 150%;
    }
  }
}