@mixin button-style($color) {
  color: $color;
  border-color: $color;
  background-color: transparent;

  &:hover,
  &:focus,
  &:active,
  &:active:hover,
  &:active:focus {
    color: darken($color, 25%);
    border-color: darken($color, 25%);
    background-color: transparent;
  }
}