@import './old-style.css';

$brand-primary: #F8AD47;
$brand-danger: #FF3956;

$btn-primary-color-dark: darken($brand-primary, 25%);

.custom-form-control, .custom-btn {
  color: #868686;
  border: 1px solid #EBEBEB;
  box-shadow: none;
  border-radius: 2px;
  transition-property: border-color, background-color;
  transition-duration: 0.3s;
}

.custom-input-lg {
  border-width: 2px;
  border-radius: 3px;
}

.custom-btn:focus,
.custom-btn:active,
.custom-btn:active:focus {
  outline: none;
}

.custom-form-control:focus {
  border-color: #AB7731;
  box-shadow: 0 0 2px 0 #AB7731;
}

.custom-btn-primary {
  background-color: transparent;
  color: $brand-primary;
  border-color: $brand-primary;
}

.custom-btn-primary:hover,
.custom-btn-primary:focus,
.custom-btn-primary:active,
.custom-btn-primary:active:hover,
.custom-btn-primary:active:focus {
  color: $btn-primary-color-dark;
  border-color: $btn-primary-color-dark;
  background-color: transparent;
}

.custom-btn-danger {
  color: $brand-danger;
  border-color: $brand-danger;
  background-color: transparent;
}

.custom-btn-danger:hover,
.custom-btn-danger:focus,
.custom-btn-danger:active,
.custom-btn-danger:active:hover,
.custom-btn-danger:active:focus {
  color: #C2101E;
  border-color: #C2101E;
  background-color: transparent;
}

.custom-btn-primary2 {
  color: white;
  background-color: $brand-primary;
  border-color: $brand-primary;
}

.custom-btn-primary2:hover,
.custom-btn-primary2:focus,
.custom-btn-primary2:active,
.custom-btn-primary2:active:hover,
.custom-btn-primary2:active:focus,
.custom-btn-primary2:hover:disabled {
  border-color: $btn-primary-color-dark;
  background-color: $btn-primary-color-dark;
}
