@import './old-style.css';
@import './_mixins';
@import './_variables';
@import './_custom_table';
@import './_slider';

.custom-form-control, .custom-btn {
  color: #868686;
  border: 1px solid #EBEBEB;
  box-shadow: none;
  border-radius: 2px;
  transition-property: border-color, background-color;
  transition-duration: 0.3s;
}

.custom-input-lg {
  border-width: 2px;
  border-radius: 3px;

  &:focus,
  &:active,
  &:active:focus {
    outline: none;
  }
}

.custom-form-control:focus {
  border-color: $btn-form-control-focus-dark;
  box-shadow: 0 0 2px 0 $btn-form-control-focus-dark;
}

.custom-btn-primary {
  @include button-style($brand-primary);
}

.custom-btn-danger {
  @include button-style($brand-danger);
}

.custom-btn-primary2 {
  color: white;
  background-color: $brand-primary;
  border-color: $brand-primary;

  &:hover,
  &:focus,
  &:active,
  &:active:hover,
  &:active:focus,
  &:hover:disabled {
    border-color: $btn-primary-color-dark;
    background-color: $btn-primary-color-dark;
  }
}
